* {
  box-sizing: border-box;
}

body {
  /* background-color: #500070; */
  background-image: url("D56505B7-E8CA-4DE3-B803-5B545EE1D7C0.jpeg");
  font-family: monospace;
  font-size:30px;
}

h1 {
  text-align: center;
  color: #817bca;
  font-size: 48px;
  font-family: Snell Roundhand, cursive;
}

#input {
  font-family: monospace;
  background-color: purple;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgb(136, 3, 138);
  color: rgb(31, 7, 37);
}

input:focus,
select:focus,
textarea:focus {
  -moz-user-select: none;
  outline-color: red;
  /*outline: solid red 1px;*/
}


#input:hover {
}

button {
  background-color: rgb(84, 10, 10);
  border: none;
  color: rgb(205, 57, 57);
  padding: 4px 8px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(152, 15, 15);
  color: rgb(205, 57, 57);
}

.row {
  display: flex;
  border:rgb(31, 7, 37) 4px;
  border-style:solid;
    border-style:dotted;
  border-radius: 30px;
  padding: 20px 15px 10px 15px;
  border-color:  #3a0151;

}

img {
zoom:40%;
}

#container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    border-width: 3px;
    border-color: purple;
    border-width: 3px;
}

#ins {
  margin-left:10px;
}
/* Create three equal columns that sits next to each other */
.column {
  padding: 0px;
}

#ccc {
  margin-top:40px;
}

#here {
  background-image: url("RubyLetters/\ .png")
}